<script src="{{ 'sl-product-list.js'| asset_url }}" defer></script>

{%- style -%}
  /* .section-{{ section.id }}-card-alignment {
      align-items: {{ section.settings.card_alignment }};
    } */

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    .title-align-{{ section.id }} {
      text-align: {{ section.settings.title_alignment }};
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new SlProductList('{{ section.id }}');
  });
</script>
<div
  id="slider-section-{{ section.id }}"
  class="px-20 relative overflow-hidden w-full section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
>
  {% comment %} heading {% endcomment %}
  {%- unless section.settings.title == blank -%}
    <h2 class="text-5xl font-bold uppercase my-12 mx-24 {{ section.settings.title_size }} title-align-{{ section.id }} opacity-75">
      {{ section.settings.title }}
    </h2>
  {%- endunless -%}
  {% comment %} slide container {% endcomment %}
  <div id="slider-{{ section.id }}" class="flex w-full gap-4 justify-center opacity-0">
    {%- for product in section.settings.collection.products -%}
      {% comment %} slide {% endcomment %}
      <div
        id="slider-item-{{ section.id }}"
        class="group flex flex-col gap-4 w-1/5 flex-shrink-0 justify-center cursor-pointer pb-4"
        data-link="{{ product.url | default: '#' }}"
      >
        {%- if product.images.size > 0 -%}
          {% assign featured_image = product.featured_image %}
          {% assign alt_image = product.images[1] | default: product.featured_image %}
          <div class="relative flex flex-col w-full aspect-3/4">
            {% comment %} main image {% endcomment %}
            {{
              featured_image
              | image_url: width: 600
              | image_tag:
                loading: 'lazy',
                widths: '300, 400, 500, 600',
                class: 'absolute object-cover w-full h-full transition-opacity opacity-100 hover:opacity-0'
            }}
            {% comment %} alt image {% endcomment %}
            {{
              alt_image
              | image_url: width: 600
              | image_tag:
                loading: 'lazy',
                widths: '300, 400, 500, 600',
                class: 'absolute object-cover w-full h-full transition-opacity opacity-0 hover:opacity-100'
            }}
            {% comment %} add to cart {% endcomment %}
            <div
              class="flex justify-center items-center w-full h-1/5 bg-[#6d435a] absolute bottom-0 bg-opacity-0 group-hover:bg-opacity-30 transition-opacity"
              onclick="event.stopPropagation()"
            >
              <button
                class="text-black text-opacity-70 text-lg font-semibold py-4 px-6 bg-white border-none shadow-xl hover:scale-105 rounded-md opacity-0 group-hover:opacity-100"
                onclick="alert('hi')"
              >
                QUICK ADD
              </button>
            </div>
          </div>
        {%- endif -%}
        {% comment %} star rating {% endcomment %}
        <div class="flex flex-col gap-3 w-full text-xl px-2 {{ section.settings.card_alignment }}">
          <span class="group-hover:underline overflow-hidden whitespace-nowrap text-ellipsis inline-block w-full">
            {{- product.title -}}
          </span>
          {% render 'sl-star-rating',
            rating: product.metafields.reviews.rating.value,
            count: product.metafields.reviews.rating_count
          %}
          <span>{{ product.price | money_with_currency }}</span>
        </div>
      </div>
    {%- endfor -%}
  </div>
  {% comment %} navigation buttons {% endcomment %}
  <button
    id="btn-prev-{{ section.id }}"
    class="shadow-lg rounded-full absolute top-[50%] left-10 p-5 cursor-pointer bg-black bg-opacity-30 hover:scale-105"
  >
    {% render 'sl-icon-chevron-left', stroke_width: '3', color: 'white', class: 'size-8' %}
  </button>
  <button
    id="btn-next-{{ section.id }}"
    class="absolute shadow-xl right-10 top-[50%] p-5 rounded-full cursor-pointer bg-black bg-opacity-30 hover:scale-105"
  >
    {% render 'sl-icon-chevron-right', stroke_width: '3', color: 'white', class: 'size-8' %}
  </button>
</div>

{% schema %}
{
  "name": "SL Product Slider",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        },
        {
          "value": "hxl",
          "label": "Extra Large"
        },
        {
          "value": "hxxl",
          "label": "Extra extra Large"
        }
      ],
      "default": "h1",
      "label": "Title Size"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title Alignment",
      "options": [
        { "value": "start", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "end", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "card_alignment",
      "label": "Card Alignment",
      "options": [
        { "value": "items-start", "label": "Left" },
        { "value": "items-center", "label": "Center" },
        { "value": "items-end", "label": "Right" }
      ],
      "default": "items-start"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top Padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom Padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "SL Product Slider"
    }
  ]
}
{% endschema %}
