<script src="{{ 'sl-product-list.js'| asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-card-alignment {
      align-items: {{ section.settings.card_alignment }};
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    .title-align-{{ section.id }} {
      text-align: {{ section.settings.title_alignment }};
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new SlProductList('{{ section.id }}');
  });
</script>
<div
  id="slider-section-{{ section.id }}"
  class="relative overflow-hidden w-full section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
>
  {% comment %} heading {% endcomment %}
  {%- unless section.settings.title == blank -%}
    <h2 class="my-12 mx-24 {{ section.settings.title_size }} title-align-{{ section.id }}">
      {{ section.settings.title }}
    </h2>
  {%- endunless -%}
  {% comment %} slide container {% endcomment %}
  <div id="slider-{{ section.id }}" class="flex w-full gap-4 justify-center ">
    {%- for product in section.settings.collection.products -%}
      {% comment %} slide {% endcomment %}
      <div
        id="slider-item-{{ section.id }}"
        class="group flex flex-col gap-4 w-1/5 flex-shrink-0 justify-center cursor-pointer section-{{ section.id }}-card-alignment"
        data-link="{{ product.url | default: '#' }}"
      >
        {%- if product.images.size > 0 -%}
          {% assign featured_image = product.featured_image %}
          {% assign alt_image = product.images[1] | default: product.featured_image %}
          <div class="relative flex flex-col w-full aspect-3/4 shadow-md rounded-sm">
            {% comment %} main image {% endcomment %}
            <img
              class="absolute object-cover w-full h-full transition-opacity opacity-100 hover:opacity-0"
              src="{{ featured_image | image_url: width: 600 }}"
              srcset="
                {{ featured_image | image_url: width: 300 }} 300w,
                {{ featured_image | image_url: width: 600 }} 600w,
                {{ featured_image | image_url: width: 1200 }} 1200w
              "
              sizes="(min-width: 1280px) 20vw, (min-width: 1024px) 25vw, (min-width: 768px) 33.33vw, (min-width: 480px) 50vw,100vw"
              alt="{{ product.title }}"
              width="100%"
              height="100%"
            >
            {% comment %} alt image {% endcomment %}
            <img
              class="absolute object-cover w-full h-full transition-opacity opacity-0 hover:opacity-100"
              src="{{ alt_image | image_url: width: 600 }}"
              srcset="
                {{ alt_image | image_url: width: 300 }} 300w,
                {{ alt_image | image_url: width: 600 }} 600w,
                {{ alt_image | image_url: width: 1200 }} 1200w
              "
              sizes="(min-width: 1280px) 20vw, (min-width: 1024px) 25vw, (min-width: 768px) 33.33vw, (min-width: 480px) 50vw,100vw"
              alt="{{ product.title }}"
              width="100%"
              height="100%"
            >

            {% comment %}
              {%- if block.settings.show_badge and block.settings.badge_label -%}
                {% style %}
                  .badge-{{ block.id }}-color {
                    color: rgb({{ block.settings.badge_txt_color.rgb }});
                    background-color: rgb({{ block.settings.badge_bg_color.rgb }});
                  }
                {% endstyle %}

                <span class="absolute bottom-[2%] left-[2%] text-base font-bold rounded-full py-3 px-5 badge-{{ block.id }}-color">
                  {{- block.settings.badge_label -}}
                </span>
              {%- endif -%}
            {% endcomment %}
          </div>
        {%- endif -%}
        <span class="text-xl font-semibold group-hover:underline">{{ product.title }}</span>
        <span class="text-xl font-semibold">{{ product.title }}</span>
      </div>
    {%- endfor -%}
  </div>
  {% comment %} navigation buttons {% endcomment %}
  <button
    id="btn-prev-{{ section.id }}"
    class="absolute top-[50%] border-none left-0 pl-12 pr-6 py-6 cursor-pointer btn-{{ section.id }}-color-scheme"
  >
    {% render 'sl-icon-chevron-left',
      stroke_width: '2.5',
      color: section.settings.color_scheme.settings.button,
      class: 'size-10 opacity-70'
    %}
  </button>
  <button
    id="btn-next-{{ section.id }}"
    class="absolute right-0 pl-6 pr-12 top-[50%] py-6 border-none cursor-pointer btn-{{ section.id }}-color-scheme"
  >
    {% render 'sl-icon-chevron-right',
      stroke_width: '2.5',
      color: section.settings.color_scheme.settings.button,
      class: 'size-10 opacity-70'
    %}
  </button>
</div>

{% schema %}
{
  "name": "Silvori Product Slider",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        },
        {
          "value": "hxl",
          "label": "Extra Large"
        },
        {
          "value": "hxxl",
          "label": "Extra extra Large"
        }
      ],
      "default": "h1",
      "label": "Title Size"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title Alignment",
      "options": [
        { "value": "start", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "end", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "card_alignment",
      "label": "Card Alignment",
      "options": [
        { "value": "start", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "end", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top Padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom Padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Silvori Product Slider"
    }
  ]
}
{% endschema %}
